<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <input type="checkbox" id="theme-toggle" class="theme-toggle-checkbox">
    <label for="theme-toggle" class="theme-toggle-label"><i class="fas fa-moon"></i> Night Mode</label>
    <div class="container">
        <h1>Failed to Load Meme</h1>
        <p>There was an error fetching the meme. Please try again later.</p>
    </div>
</body>
</html>
